body {	
	margin: 0px;
	padding: 0px;
	font-family: helvetica,arial,sans-serif;
	background-color: #ececec;
}

/* ****************
	Landing page 
**************** */
#header {
	background-color: #252525;
	color: white;
}

#header-title {
	font-size: 24px;	
	padding: 2px 0px 0px 40px;
}

#header-title span {
	background-color: #c52334;
	padding: 0px 4px;
	border-radius: 0px 8px 8px 8px;
	font-weight: bold;
}

#header-status {
	font-size: 18px;
	background-color: #5a5a5a;
	padding: 6px 0px 3px 40px;
	
}


/* ****************
	Form 
**************** */
#game-form {
	max-width: 512px;
}

#game-form ul li {
	padding: 3px 0px;
	list-style-type: none;
}





.action-btn {
	border: 1px solid #333;
	background-color: #eee;
	
	padding: 5px;
	margin-bottom: 5px;
	
	color: #333;
	font-size: 14px;
	
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1.5s;
}

.action-btn:hover {
	border: 1px solid #333;
	background-color: #F5E99F;
	color: #333;
	cursor:pointer;
}

.actions {
	min-height: 32px;
}

img {
	max-width: 390px;
}



/* ******************
	Scene Types
   ****************** */ 
.scene-description {
	border: 1px solid #999;
	border-radius: 10px;
	padding: 15px 20px;
	
	font-size: 12px;
	color: #ddd;

	
	opacity: 0;	
}

.scene-even {
	margin-right: 40px;
	background-color: #444;
	
	transition-property: opacity;
	transition-duration: 1s;
}
.scene-odd {
	margin: 5px 0px 5px 40px;
	background-color: #666;	
	
	transition-property: opacity;
	transition-duration: 0.3s;
}

.scene-title {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-radius: 0px;
	
	color: #777;
	font-size: 24px;
	text-align: center;
	
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 1;
}

.scene-subtitle {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	border-left-width: 0px;
	border-right-width: 0px;	
	border-radius: 0px;
	
	color: #777;
	font-size: 14px;
	text-align: center;
	
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 1;
}
