body {
	margin: 0px;
	padding: 0px;
	font-family: "Consolas",helvetica,arial,sans-serif;
	background-color: #ececec;
}

ul {
	list-style-type: none;
}

/* ****************
 *	 
 *
 * Header page
 *
 *
**************** */
.header {
	background-color: #252525;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header-title {
	font-size: 24px;	
	padding: 2px 0px 0px 40px;
}

.header-title span {
	background-color: #c52334;
	padding: 0px 4px;
	border-radius: 0px 8px 8px 8px;
	font-weight: bold;
}

.header-status {
	font-size: 18px;
	background-color: #5a5a5a;
	padding: 6px 0px 3px 40px;
	box-shadow: 0px 5px 5px grey;
}

.header-btn {
	background-color: #5a5a5a;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	min-height: 25px;
	width: 50px;
}

.header-btn:hover {
	background-color: white;
	border: 1px solid #5a5a5a;
	color: #5a5a5a;
	cursor: pointer;
}

.btn-half {
	width: 50px;
	font-family: sans-serif;
    font-size: 13px;
    padding: 4px 6px;
}

#uploader {
	display: none;
}

#project-title {
    cursor: pointer;
}

/* ****************
 *
 * Scene List
 *
 ****************** */

.scene-list-wrapper {
    background-color: #252525;
    color: white;
    position: absolute;
    right: 0px;
    width: 20%;
    z-index: 100;
}

.scene-list-title {
    font-weight: 400;
    font-size: 24px;
    padding: 1px 5px;
}

.scene-list-btn {
    color: white;
    background-color: #5a5a5a;
    padding: 2px 5px;
    cursor: pointer;
}

.scene-list-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #5a5a5a;
}

.scene-list-btn-selected {
    background-color: rgb(177, 230, 89);
    padding: 2px 5px;
    color: #5a5a5a;
    cursor: pointer;
}

/* ****************
 *	
 *
 * Zone Wrapper
 *
 *
****************** */

#main-wrapper {
	position: absolute;
    top: 80px;
	left: 20px;
	width: 100%;
}

.scene-form {
	width: 100%;
}

.type-switch-off {
	display: inline-block;
	width: 23%;
	text-align: center;
	min-height: 14px;
	cursor: pointer;
	font-size: 12px;
	background-color: #CECECE;
}

.type-switch-on {
	display: inline-block;
	width: 25%;
	text-align: center;
	min-height: 14px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	font-size: 12px;
	background-color: rgb(177, 230, 89);
}

.action-item {
	cursor: pointer;
}

.info-text {
    font-size: 12px;
    background-color: rgb(177, 230, 89);
    padding: 2px 0px;
}

.info-text span {
    background-color: rgb(66, 134, 244);
    color: #FFF;
    padding: 2px 4px;
}


/* **************
 *
 * Pop-up
 *
 *
************** */
.xpopup-header {
	background-color: #252525;
	line-height: 30px;
	font-weight: 400;	
	color: white;
	width: 100%;
}

.xpopup-wrapper {
	padding: 15px;
}

.xpopup-line {
	padding: 5px 15px 5px 15px;
}

.exec-popup {
	position: absolute;
	top: 100px;
	left: 40px;
	min-width: 600px;
	border: 1px solid black;
	background-color: #ececec;
	box-shadow: 13px 10px 10px grey;
	z-index: 102;
}

.exec-popup-wrapper {
    width: 100%;
    padding: 2px 10px;
}


.exec-popup-wrapper div {
    width: 100%;
    padding: 2px 10px;
}

.action-popup {
	position: absolute;
	top: 100px;
	left: 40px;
	min-width: 880px;
	border: 1px solid black;
	background-color: #ececec;
	box-shadow: 13px 10px 10px grey;
	z-index: 102;
}

.action-popup-wrapper {
    padding: 5px 10px;
}

.project-popup {
	position: absolute;
	top: 100px;
	left: 40px;
	min-width: 600px;
	border: 1px solid black;
	background-color: #ececec;
	box-shadow: 13px 10px 10px grey;
	z-index: 102;
}

.project-popup-wrapper {
	padding: 10px 10px;
}

.project-popup-wrapper input {
	width: 600px;
}
/* **************
 *
 * Common
 *
 *
************** */
.splash {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 101;
}


.col-left {
	width: 10%;
	padding: 3px 0px;
	display: inline-block;
}

.col-right {
	width: 50%;
	padding: 3px 0px;
	display: inline-block;
}

.col-full {
    width: 61.5%;
    padding: 3px 0px;
    display: inline-block;
}

.input-max {
    width: 100%
}

.textarea-max {
    width: 80%;
}

.inline {
	display: inline-block;
}

.inline-right {
	display: inline-block;
	float: right;
}

input {
	min-height: 25px;
	line-height: 25px;
	padding: 0px 5px;
}

select {
	min-height: 28px;
	line-height: 28px;
	padding: 0px 5px;
	width: 69.7%;
}

.btn {
	font-size:14px;
	text-align: center;
	background-color: #ececec;
	border: 1px solid #5A5A5A;
	color: #5A5A5A;
	cursor: pointer;
	min-height: 25px;
	line-height: 25px;
	width: 100px;
	margin-right: 10px;
}

.btn:hover {
	background-color: #5A5A5A;
	border: 1px solid #5A5A5A;
	color: white;
	cursor: pointer;
}

.btn-short {
	font-size:14px;
	margin-top: 5px;
	text-align: center;
	background-color: #ececec;
	border: 1px solid #5A5A5A;
	color: #5A5A5A;
	cursor: pointer;
	min-height: 25px;
	line-height: 25px;
	max-width: 100px;
	min-width: 32px;
}

.btn-short:hover {
	background-color: #5A5A5A;
	border: 1px solid #5A5A5A;
	color: white;
	cursor: pointer;
}

.input-short {
	max-width: 40px;

}